body,
html {
    background-image: linear-gradient(#947AFF, #7BCBEB);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.jumbotron {
    background-color: transparent;
    height: 300px;
}

.button {
    padding: 20px;
    margin-left: 25%;
    margin-right: 50%;
    margin-bottom: 20px;
    width: 2px;
    border: solid 2px white;
    width: 50%;
    text-align: center;
    color: white;
    display: block;
    text-decoration: none;
}

.button:hover {
    background-color: #64C3E8;
    text-decoration: none;
}

.button:link {
    text-decoration: none;
}

a:link {
    color: red;
}

h2 {
    color: white;
}

.gregoire {
    display: inline-block;
    border: 4px black solid;
    border-radius: 100%;
    width: 25%;
}

header {
    margin-top: 40px;
}