body {
    background-image: linear-gradient(#947AFF, #7BCBEB);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.button {
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    border: ridge 2px white;
    text-align: center;
    color: white;
    display: block;
}

.button:hover {
    background-color: rgb(75, 187, 231);
}

a:hover {
    text-decoration: none;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

.gregoire {
    display: inline-block;
    border: 3px grey double;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.gregoire:hover {
    border: 4px grey solid;
}